body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0;
  background-color: #460273;
  color: white;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F18DF2;
  color: #000;
  font-size: 18px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 18px;
}

th, td {
  border: 1px solid white;
  padding: 15px;
}

/* Основний стиль для кнопок */
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff80a6;
  color: #000000;
  border: none;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

/* Змінені стилі при наведенні на кнопку */
button:hover {
  background-color: #ff5c8d;
  color: #ffffff;
}

/* Змінені стилі при натисканні на кнопку */
button:active {
  background-color: #BF0436;
  color: #ffffff;
}