body
{
  background: rgb(54,51,59);
  background: linear-gradient(0deg, rgba(54,51,59,1) 0%, rgba(27,22,26,1) 100%);
}
nav 
{
    min-height: 32px;
    height: 75px;
}
nav a 
{
    display: block;
    color: #ffffff;
    line-height: 2em;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: "Courier New", monospace;
  }
  
.container 
{
    display: flex;
    border:1px solid rgb(194, 190, 194);
    background-color: #161518;
    height: 70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h1
{
  color: #ffffff;
  text-align: center;
  background-color: #161518;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  font-size: 70px;
  font-family: "Courier New", monospace;
}
.text 
{
  font-size: 30px; /* Змінюємо розмір тексту на 16 пікселів */
}

input[type=text] 
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: white;
}
.p1
{
    color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", monospace;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #715672;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
form
{
    background-color: #1d191d;
    width: 50%;
    border: 2px solid rgb(242, 231, 243);
    border-radius: 4px;
}
input[type='radio'] + label 
{
    font-size: 30px; 
    color: white;
    font-family: "Courier New", monospace;
}
select 
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: white;
}
button
{
    background-color: #715672;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 30px; 
    font-family: "Courier New", monospace;
    text-align: center;
}
legend
{
    font-size: 30px; 
    color: white;
    font-family: "Courier New", monospace;
}
input[list="Names"] 
{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: white;
}
h2
{
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", monospace;
}
textarea
{
    width: 80%;
    
}
footer 
{ 
    display: block;
}
table
{
  color: #ffffff;
  background-color: #161518;
  font-size: 30px;
  font-family: "Courier New", monospace;
}